@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

:root {
    --Header-hight: #{toRem(80px)};
    --Header-column-num: 3;
    --Header-Nav-width: 30em;
    --Header-icon-hight: 5rem;
}

header[aria-label="main header"] {
    width: 100%;
    height: var(--Header-hight);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    .header__Container {
        @include flex(r, sb, c);
        gap: 1rem;
        .column {
            width: calc(100% / var(--Header-column-num));
            height: 100%;
        }
        .c1 {
            @include flex(r, fs, c);
            .header__Logo {
                @include flex(r, sb, c);
                gap: 1rem;
                .main__logo {
                    font-family: var(--ff-Partita);
                    font-size: var(--fs-xl);
                    font-weight: 400;
                    text-decoration: none;
                    // line-height: 1;
                    overflow: hidden;
                    margin: 0;
                    white-space: nowrap;
                }
            }
            .skip-nav-link {
            }
            // .skip-nav-link:focus,
            // .skip-nav-link:focus-visible {
            //     opacity: 1;
            // }
        }
        .c2 {
            @include flex(r, c, c);
            .mobile-nav-toggle {
                display: none;
            }
            nav.header__main-navigation {
                @include flex(r, n, c);
                ul {
                    width: 100%;
                    @include flex(r, sb, c);
                    gap: 1rem;
                    li {
                        a {
                        }
                        // a:hover {
                        // }
                    }
                    li a[date-selected="true"]::after {
                    }
                }
            }
        }
        .c3 {
            @include flex(r, fe, c);
            gap: 1rem;
        }
    }
}
