@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

// .circle {
// --circle-size: ;
// --sons-size: ;
// --circle-radius: calc(calc(var(--circle-size) - var(--sons-size)) / 2);
// --son-deg: calc(360deg / #{$son-num});
// width: var(--circle-size);
// height: var(--circle-size);
// position: relative;
// @for $inti from 1 to $son-num + 1 {
//     & :nth-child(#{$inti}) {
//         --deg: calc(var(--son-deg) * #{$inti});
//     }
// }
// span {
//     --X: calc(
//         var(--circle-radius) + (var(--circle-radius) * cos(var(--deg)))
//     );
//     --Y: calc(
//         var(--circle-radius) + (var(--circle-radius) * sin(var(--deg)))
//     );
//     width: var(--sons-size);
//     height: var(--sons-size);
//     position: absolute;
//     top: var(--Y);
//     left: var(--X);
//     margin: 0;
// }
// }

.Loader {
    background-color: var(--bg-clr-dark);
    // pointer-events: none;
    .Container {
        --container-width: 99%;

        h1 {
            font-size: 5vw;
            font-weight: 400;
            filter: blur(0.5px);
            color: var(--txt-clr-light);
            // font-family: var(--ff-modern_society);
            font-family: var(--ff-rakkas);
            // color: white;
            // line-height: 1;
            position: relative;
            // animation: grow-shrink-rotate-disappear 4s ease-in-out forwards
            //     infinite;
        }
        h1::after {
            content: "™";
            font-size: 25%;
            font-family: var(--ff-inter);
            position: absolute;
            top: -5%;
            right: 0%;
        }
        .h {
            font-family: var(--ff-rakkas);
            font-family: var(--ff-Diwani);
            font-size: 90%;
            // position: absolute;
        }
    }
}
// @keyframes grow-shrink-rotate-disappear {
//     /* Grow and shrink a couple of times */
//     0% {
//         transform: scale(1);
//         opacity: 1;
//     }
//     25% {
//         transform: scale(1.2);
//     }
//     50% {
//         transform: scale(1);
//     }
//     75% {
//         transform: scale(1.2);
//     }

//     /* Rotate and fade out */
//     90% {
//         transform: scale(1) rotate(360deg);
//         opacity: 1;
//     }
//     100% {
//         transform: scale(0) rotate(360deg);
//         opacity: 0;
//     }
// }
