// @use "../global/index" as *;
// @use "../util/index" as *;

// // @include flex(r, c, c);
// // @include flexForPhon(cr,2);
// // @include grid(2, 2, fr, 1rem)

// font-family: var(--ff-Diwani);

$glitch-steps: 25; // ? max is 100 before it gets too much
.Loader {
    --glitch-intensity: -1.5px; // ? max is 5 before it gets too much
    --glitch-speed: 2s;
    background-color: var(--bg-clr-dark);
    .Container {
        --container-width: 99%;
        position: relative;

        .Logo {
            position: relative;
            h1 {
                width: fit-content;
                font-size: 200px;
                font-weight: 400;
                color: var(--bg-clr);
                line-height: 1;
                position: relative;
                user-select: none;
            }
            .glitch::after,
            .glitch::before {
                content: attr(data-text);
                font-size: 100%;
                width: fit-content;
                position: absolute;
                top: 0;
                color: var(--bg-clr);
                background: var(--bg-clr-dark);
                overflow: hidden;
                clip: rect(0, 0px, 0, 0);
                user-select: none;
            }
            .glitch::after {
                left: var(--glitch-intensity);
                text-shadow: 1px 0 var(--error-clr);
                animation: noise-anim var(--glitch-speed) ease-in
                    alternate-reverse;
            }
            .glitch::before {
                left: calc(var(--glitch-intensity) + 1px);
                text-shadow: 1px 0 var(--primary-clr);
                animation: noise-anim-2 calc(var(--glitch-speed) + 1s) ease-in
                    alternate-reverse;
            }
        }
        .logo_stage-1 {
            font-family: var(--ff-rakkas);
        }
        .logo_stage-2 {
            font-family: var(--ff-modern_society);
        }
        .logo_stage-1::after,
        .logo_stage-2::after {
            content: "™";
            font-size: 25px;
            color: var(--bg-clr);
            font-family: var(--ff-inter);
            position: absolute;
            top: 0%;
            right: -10%;
            user-select: none;
        }
        .logo_stage-1::after {
        }
        .logo_stage-2::after {
        }
    }
}

@keyframes noise-anim {
    @for $i from 0 through $glitch-steps {
        #{percentage($i*(1/$glitch-steps))} {
            clip: rect(random(100) + px, 9999px, random(200) + px, 0);
        }
    }
}
@keyframes noise-anim-2 {
    @for $i from 0 through $glitch-steps {
        #{percentage($i*(1/$glitch-steps))} {
            clip: rect(random(100) + px, 9999px, random(200) + px, 0);
        }
    }
}
