@use "../global/index" as *;
@use "../util/index" as *;

// @include flexQueries(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

@media screen and (max-width: #{toEm(2560px)}) {
}
@media screen and (min-width: #{toEm(2560px)}) {
}
// For 4K

@media screen and (max-width: #{toEm(1600px)}) {
}
// For L Monitor

@media screen and (max-width: #{toEm(1440px)}) {
    // .Container {
    // }
}
// For Monitor

@media screen and (max-width: #{toEm(1024px)}) {
}
@media screen and (min-width: #{toEm(1025px)}) {
}
// For laptop, S-Monitor

@media screen and (max-width: #{toEm(768px)}) {
    .Container {
        --container-width: calc(100% - 2rem);
    }

    header[aria-label="main header"] {
        .Container {
            .c1 {
                .header__Logo {
                }
                .skip-nav-link {
                }
                // .skip-nav-link:focus,
                // .skip-nav-link:focus-visible {
                //     opacity: 1;
                // }
            }
            .c2 {
                position: relative;
                .mobile-nav-toggle {
                    display: block;
                    position: absolute;
                    z-index: 1000;
                }
                nav.header__main-navigation:has([data-visible="true"]) {
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    background-color: black;

                    ul {
                        li {
                            a {
                            }
                            // a:hover {
                            // }
                        }
                        li a[date-selected="true"]::after {
                        }
                    }
                }
                nav.header__main-navigation:has([data-visible="false"]) {
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    top: 100%;
                    left: 0;
                    background-color: black;

                    ul {
                        li {
                            a {
                            }
                            // a:hover {
                            // }
                        }
                        li a[date-selected="true"]::after {
                        }
                    }
                }
            }
        }
    }
    main#content {
        .Container {
            @include flexQueries(cr, n, n);
            position: relative;
            aside[aside-type="action"],
            article,
            aside[aside-type="info"] {
                width: 100%;
            }
            aside[aside-type="info"] {
            }
            article {
            }
            aside[aside-type="action"] {
                position: fixed;
                bottom: 1rem;
                left: 0;
                isolation: isolate;
                z-index: 10;
                background-color: rgba(128, 128, 128, 0.5);
                padding: 1rem;
            }
        }
    }
    .Button,
    .inputFiled {
        width: 100% !important;
    }
    .Button:not(:last-child),
    .inputFiled:not(:last-child) {
        margin: 0 0 1rem 0;
    }
}
@media screen and (min-width: #{toEm(769px)}) {
}

@media screen and (max-width: #{toEm(425px)}) {
    footer[aria-label="main footer"] {
        .Container {
            .footer__awards {
                @include flexQueries(c, c, c);
            }
            .footer__info {
                @include flexQueries(c, c, c);
            }
            .footer__ownership {
                @include flexQueries(c, c, c);
                gap: 0;
                div {
                    max-width: 100%;
                    p {
                    }
                }
                .madeWith {
                    .hart {
                    }
                }
                .copyright {
                }
            }
        }
    }
}

/*For tablets */

// @media screen and (max-width: #{toEm(375px)}) {
// 	.Container {
// 	}
// }
// For S phones
// @media screen and (max-width: #{toEm(320px)}) {
// 	.Container {
// 	}
// }
// For xS phones

// @supports (scroll-snap-points-y: repeat(100vh)) {
// 	html,
// 	html:focus-within {
// 		scroll-snap-points-y: repeat(100vh);
// 	}
// }
@supports (overflow-x: clip) {
    html,
    body {
        overflow-x: clip;
    }
}
@supports (height: 100svh) {
}
@supports (aspect-ratio: 1 / 1) {
}

// put all the animation here if you will use them in css and delete the reduce one
@media (prefers-reduced-motion: no-preference) {
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation: none;
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
