:root {
    // light mode colors
    --clr-light-text: hsl(217, 92%, 10%);
    --clr-light-background: hsl(216, 11%, 91%);
    --clr-light-primary: hsl(217, 92%, 61%);
    --clr-light-secondary: hsl(217, 24%, 85%);
    --clr-light-accent: hsl(37, 91%, 48%);

    // dark mode colors
    --clr-dark-text: hsl(217, 92%, 90%);
    --clr-dark-background: hsl(216, 11%, 9%);
    --clr-dark-primary: hsl(217, 92%, 39%);
    --clr-dark-secondary: hsl(217, 24%, 15%);
    --clr-dark-accent: hsl(37, 91%, 52%);
}

@media (prefers-color-scheme: light) {
    :root {
        --clr-text: var(--clr-light-text);
        --clr-background: var(--clr-light-background);
        --clr-primary: var(--clr-light-primary);
        --clr-secondary: var(--clr-light-secondary);
        --clr-accent: var(--clr-light-accent);
        color-scheme: light;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: var(--clr-dark-text);
        --clr-background: var(--clr-dark-background);
        --clr-primary: var(--clr-dark-primary);
        --clr-secondary: var(--clr-dark-secondary);
        --clr-accent: var(--clr-dark-accent);
        color-scheme: dark;
    }
}
@media (forced-colors: active) {
    :root {
        --clr-text: #000;
        --clr-background: #fff;
        --clr-primary: #007bff;
        --clr-secondary: #6c757d;
        --clr-accent: #28a745;
    }
}
@media (prefers-contrast: more) {
    :root {
        /* Adjust the colors for higher contrast */
        --clr-text: #000;
        --clr-background: #fff;
        --clr-primary: #0044cc;
        --clr-secondary: #666666;
        --clr-accent: #008000;
    }
}
@media (prefers-contrast: less) {
    :root {
        /* Adjust the colors for lower contrast */
        --clr-text: #333;
        --clr-background: #f2f2f2;
        --clr-primary: #0066ff;
        --clr-secondary: #999999;
        --clr-accent: #007f00;
    }
}
