---
import Html from "@lay/Html.astro";
import Header from "@comp/Header.astro";
import Article from "@lay/Article.astro";
import Footer from "@comp/Footer.astro";

let pageTitle = "blog";
---

<Html title={pageTitle}>
    <!-- <div class="t"><h1>HS</h1></div> -->
    <Header />
    <div class="Container" id="content">
        <h1>this is a heading to test the article component</h1>
        <a href="./articles">art</a>
    </div>
    <Footer title={pageTitle} />
</Html>
