---

---

<div class="table" aria-label="table of content">
    <button type="button" aria-controls="content" aria-expanded="false"
        >open</button
    >
    <div id="content">
        <slot />
    </div>
</div>
